body{
    background-image: url("../Midias/251517-x-razoes-para-utilizar-um-software-para-controle-de-estoque.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;

    /* color: white !important; */
}

 .card {
    background-color: rgba(23, 71, 143, 0.753) !important;
    width: 350px !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}


