body{
    background-color: #dbf4ff;
}

 .card {
    background-color: rgb(54, 54, 65) !important;
    width: 350px !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}



